<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regress" data-provider-thread-count="1"
	parallel="tests" thread-count="1">
	<listeners>
		<listener
			class-name="io.testbase.ListenerTest" />
	</listeners> <!-- listener -->
	<test name="Companies">
		<classes>
			<class
				name="io.testscripts.Companies" />
		</classes>
	</test>
	
	<!-- Test -->
</suite> <!-- Suite --> 